<html>
  <head>
        <!-- Required meta tags -->
        <meta charset="utf-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>

        <!-- Bootstrap CSS -->
        <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" rel="stylesheet"/>

        <link href="/static/styles.css" rel="stylesheet"/>

        <title>Estado del Metro Administrador</title>

    </head>
<body>
        <nav class="navbar fixed-top navbar-dark bg-dark">
            <h1 class="up"> Administrador </h1>
        </nav>


<h1> . </h1>
<h2> . </h2>
<h1> Login </h1>

<form action="/login" method="post">
    <vl>
        <input name = 'usuario' placeholder= 'Usuario' type='text'/>
        <input name = 'password' placeholder= 'Password' type='password'/>
        <button  type="submit"> Login </button>
    </vl>
</form>

</body>

</html>