<html>
  <head>
        <!-- Required meta tags -->
        <meta charset="utf-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
        <!-- Bootstrap CSS -->
        <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" rel="stylesheet"/>
        <link href="/static/styles.css" rel="stylesheet"/>
        <title>Estado del Metro Administrador</title>
    </head>
    <body>
        <nav class="navbar fixed-top navbar-dark bg-dark">
            <span class="navbar-brand h1">
                                      Administrador  </span>
        <img src="/static/ad_w.png" width="30" height="30" class="d-inline-block align-top " alt="metro">
        </nav>
     <!--Presentacion-->
<div class="container-fluid">
    <img id="myImage1" src="/static/ad.png" width="200" height="200">
    <h2>    Hacer click comenzar la evaluacion    </h2>

    <!--botton-->
    <p> <button onclick="defa()"> Default </button>
        <button onclick="now()"> Now </button> </p>

     <!--Este span esta guardando el lugar para conectar el resultado-->
     <h2> Promedios </h2>
    <p> <span id=resultados>  ---  </span> </p>

<p> Numero actual de usuarios </p>
    <p> <span id=usu>  ---  </span> </p>

    <!--   json jquery  -  AJAX -->
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
    <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/socket.io/1.3.5/socket.io.min.js"></script>

    <!--script-->

    <script type=text/javascript>

        function defa() {
            $.getJSON('/nes', {
             // Enviando default
            a: "default"
            },
            // Obteniendo los datos de vuelta, modificando todas las variables posibles queda asi
            function(data) {
                // Los conecta con la funcion resultados
                $("#resultados").text(data.pro);
            });
          return false;
        }

        function now() {
            $.getJSON('/nes', {
             // Enviando default
            a: "42"
            },
            // Obteniendo los datos de vuelta, modificando todas las variables posibles queda asi
            function(data) {
                // Los conecta con la funcion resultados
                $("#resultados").text(data.pro);
            });

         return false;
        }

        $(document).ready(function(){
        // Conectando al servidor
        var socket = io.connect('http://' + document.domain + ':' + location.port + '/test');
        var num_u;

            // Recibiendo datos de numero de usuarios
        socket.on('num_usu', function(msg) {
            num_u = msg.numero
            $('#usu').text(num_u);
            });
        });

        </script>
        </div>
    </body>
</html>