<html>
  <head>
        <!-- Required meta tags -->
        <meta charset="utf-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
        <!-- Bootstrap CSS -->
        <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" rel="stylesheet"/>

        <link href="/static/styles.css" rel="stylesheet"/>

        <title>Estado del Metro Administrador</title>

    </head>
<body>
        <nav class="navbar fixed-top navbar-dark bg-dark">
            <span class="navbar-brand h1">
                                      Login </span>
          <img src="/static/ad_w.png" width="30" height="30" class="d-inline-block align-top " alt="metro">
        </nav>

<div class="container-fluid">
<form action="/login" method="post">
    <vl>
        <input name = 'usuario' placeholder= 'Usuario' type='text'/>
        <input name = 'password' placeholder= 'Password' type='password'/>
        <button  type="submit"> Login </button>
    </vl>
</form>

</div>
</body>

</html>