<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Metro</title>
<script type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<link rel="stylesheet" type="text/css" href="css/main.css">

</head>
<body>

    <div class="menu">
        <div class="logo">
            <img id="logo" src="assets/images/logo.png" alt="logo">
        </div>
        <div class="encabezado">
            <p>Status Actual Metro</p>
        </div>
        <div class="metro-logo">
            <img id="logo" src="assets/images/metro.png" alt="logo">
        </div>
    </div>

    
    <!-- Contenedor de Encabezado -->
        <div class="titulo"><p>Linea 1 </p></div>

        

        <!-- Conectando los resultados que llegan desde emit /read -->
       <div id="direccion_a">
         <p><center>Direccion A </center></p>
         <div id=resultados_a>  <p> _---_ </p> </div> 
       </div>
       
       <div id="direccion_b">
            <p><center>Direccion B </center></p>
         <div id=resultados_b>  <p> _---_ </p> </div> 
       </div>
   
       <!--   json jquery  -  AJAX -->
       <script type="text/javascript" src="//code.jquery.com/jquery-1.4.2.min.js"></script>
       <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/socket.io/1.3.5/socket.io.min.js"></script>
   
       <!--Funcion javascript-->
       <script type=text/javascript>
           $(document).ready(function(){
           // Conectando al servidor
           var socket = io.connect('http://' + document.domain + ':' + location.port + '/test');
           var color;
   
           // Recibiendo datos del servidor direccion a
           socket.on('update_a', function(msg) {
               color_a = msg.estado
               $('#resultados_a').text(color_a);s
           });
   
           // Recibiendo datos del servidor direccion b
           socket.on('update_b', function(msg) {
               color_b = msg.estado
               $('#resultados_b').text(color_b);
           });
       });
       </script>
     </body>
   </html>
